<%- include('../../layout/headAdmin') %>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Categorias</h3>
        </div>
        <div class="card-body">
            <form method="post" action="/admin/category/store">
                <input type="text" name="title" class="form-control">
                <button class="btn btn-success" type="submit">Enviar</button>
            </form>
        </div>
    </div>

</div>
<%- include('../../layout/footerAdmin') %>