<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Teste de Página</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">

</head>
<body>
<%- include('./navbarAdmin') %>