<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand ">
        <img src="https://d1hmhczrun9u8q.cloudfront.net/images/logo.png" alt="Logo" class="navbar-logo">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="navbar-item">
            <a class="navbar-link" href="/admin/category">Categorias</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" href="/admin/article">Artigos</a>
        </li>
    </ul>
</nav>