<nav class="navbar navbar-light bg-light">
    <a href="/" class="navbar-brand ">
        <img src="https://d1hmhczrun9u8q.cloudfront.net/images/logo.png" alt="Logo" class="navbar-logo">
    </a>
</nav>